.header
{
    width: 95%;
    height: 8vh;
    background-color: rgb(21, 107, 165);
    color: azure;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 3vw;
    padding-right: 6vw;
    position: fixed;
    top: 0px;
    left: 0px
}

.search
{
    background-color: rgb(21, 107, 165);
    width: 100%;
    height: 85%;
    padding-left: 3vw;
    padding-right: 3vw;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    color: azure;
    font-family: 'Courier New', Courier, monospace;
}

.floating-text
{
    color: azure;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
}