<!--
<div th:insert="~{footer :: copy}"></div>

<div th:fragment="copy">
      © 2011 The Good Thymes Virtual Grocery
</div>

<div th:fragment="frag (onevar,twovar)">
    <p th:text="${onevar} + ' - ' + ${twovar}">...</p>
</div>
-->
