<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="../static/css/home.css" th:href="@{/css/home.css}" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>

<body>
    <div th:replace="templates :: heap (uname=${userEmail})">...</div>
    <div>
        <center>
        <h1>
            Aviasnales! Продажа медленных авиабилетов!
        </h1>
        <br>
        <br>
        <div>
            <form action="/buy" method="post">
                <select name="cityStart" class="form-select" style="width: 20%">
                    <div th:each="city : ${cityStart}">
                        <option th:text="${city}" th:value="${city}"></option>
                    </div>
                </select>
                <br>
                <select name="cityEnd" class="form-select" style="width: 20%">
                    <div th:each="city : ${cityEnd}">
                        <option th:text="${city}" th:value="${city}"></option>
                    </div>
                </select>
                <br>
                <input type="submit" name="Найти!" class="btn btn-primary">
            </form>
        </div>
            <br>
            <br>

        <div th:each="flight : ${flights}">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Рейс</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">На 20:32 20.05.2023</h6>
                    <p class="card-text" th:text="${flight.text}"></p>
                </div>
            </div>
            <br>
            <br>
        </div>
    </center>
    </div>
</body>

</html>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>