<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Бунгало</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>
<body>
<div th:replace="templates :: heap (uname=${userEmail})">...</div>
<center>
<h1>Я <span th:text="${userEmail}"></span></h1>
<br>
Мои даблфлипы:
    <br><br>
<div th:each="flight : ${flights}">
  <div class="card" style="width: 18rem;">
      <div class="card-body">
          <h5 class="card-title">Рейс</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">На 20:32 20.05.2023</h6>
          <p class="card-text" th:text="${flight}"></p>
          <a href="#" class="card-link">Отменить билет</a>
      </div>
  </div>
  <br><br>
</div>
</center>
</body>
</html>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>